//colors
$dark-green: #00511f;
$very-dark-grey: #4a4a4a;
$very-dark-greyish-blue: #2e3840;
$light: #fafafa;
$nav-light: #ffffff;
$nav-dark: #4a4a4a;
$blue-text: #009cbf;
$black: #000000;
$white: #FFFFFF;
$sidebar-social-bg: #ACB7B9;
$bright-blue: #048FC5;
$green-blue: #f5f5f6;
$red: #D0021B;
$selectBlue: #069EC0;
$tableColEvenGrey: #FAFAFA;
$fieldBorder: #e0e4e4;


//sizes based on 15px body text size
$body: 15px;
$xxx-large: 4.8em;
$xx-large: 3.2em;
$x-large: 2.13em;
$large: 1.6em;
$medium: 1.3em;
$regular: 1em;
$small: 0.8em;
$xsmall: 0.6em;

//fonts
$font-reg: "ProximaNova-Reg";
$font-reg-otf: url("/themes/solarcity/css/fonts/ProximaNova-Reg.otf");
$font-reg-ttf: url("/themes/solarcity/css/fonts/ProximaNova-Reg-webfont.ttf");

$font-semi: "ProximaNova-Semibold";
$font-semi-otf: url("/themes/solarcity/css/fonts/Proxima-Nova-Semibold.otf");
$font-semi-ttf: url("/themes/solarcity/css/fonts/Proxima-Nova-Semibold.ttf");

$font-bold: "ProximaNova-Bold";
$font-bold-otf: url("/themes/solarcity/css/fonts/ProximaNova-Bold.otf");
$font-bold-ttf: url("/themes/solarcity/css/fonts/ProximaNova-Bold-webfont.ttf");

$font-thin: "ProximaNova-Thin";
$font-thin-otf: url("/themes/solarcity/css/fonts/ProximaNova-Thin.otf");
$font-thin-ttf: url("/themes/solarcity/css/fonts/ProximaNova-Thin-webfont.ttf");